.Splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter', sans-serif;
  color: #293264;
}

.Splash__title {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 3rem;
}

.Splash__description {
  margin-top: 7px;
  font-size: 1.2rem;
}

.Splash__button {
  margin-top: 30px;
  height: 50px;
  width: 180px;
  background: #4d5b9e;
  border-radius: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #f5f7fb;
}
